.checkbox__symbol, 
.checkbox__symbol--checked {
	display: none;
}

.checkbox__symbol--checked {
    display: block;
	fill: #fff;
}

.checkbox__icon {
	display: block;
	width: 16px;
	height: 16px;
}

